/* The standard CSS for doxygen */

body, table, div, p, dl {
  font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* @group Heading Levels */

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

dt {
  font-weight: bold;
}

p.startli, p.startdd, p.starttd {
  margin-top: 2px;
}

p.endli {
  margin-bottom: 0px;
}

p.enddd {
  margin-bottom: 4px;
}

p.endtd {
  margin-bottom: 2px;
}

/* @end */

caption {
  font-weight: bold;
}

span.legend {
  font-size: 70%;
  text-align: center;
}

h3.version {
  font-size: 90%;
  text-align: center;
}

div.qindex, div.navtab {
  background-color: #FFFFFF;
  border: 1px solid #A3B4D7;
  text-align: center;
  margin: 2px;
  padding: 2px;
}

div.qindex, div.navpath {
  width: 100%;
  line-height: 140%;
  float: left;
}

div.navtab {
  margin-right: 15px;
}

/* @group Link Styling */

a {
  color: #0678BE;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.qindex {
  font-weight: bold;
}

a.qindexHL {
  font-weight: bold;
  background-color: #9CAFD4;
  color: #ffffff;
  border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
  color: #ffffff;
}

a.el {
  font-weight: bold;
}

a.elRef {
}

a.code {
  color: #4665A2;
}

a.codeRef {
  color: #4665A2;
}

/* @end */

dl.el {
  margin-left: -1cm;
}

.fragment {
  font-family: monospace, fixed;
  font-size: 105%;
}

pre.fragment {
  border: 1px solid #C4CFE5;
  background-color: #FBFCFD;
  padding: 4px 6px;
  margin: 4px 8px 4px 2px;
  overflow: auto;
  word-wrap: break-word;
  font-size:  9pt;
  line-height: 125%;
}

div.ah {
  background-color: black;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0.2em;
  border: solid thin #333;
  border-radius: 0.5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000),color-stop(0.3, #444));
  background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
}

div.groupHeader {
  margin-left: 16px;
  margin-top: 12px;
  font-weight: bold;
}

div.groupText {
  margin-left: 16px;
  font-style: italic;
}

body {
  background: white;
  color: black;
  margin: 0;
}

div.contents {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  clear: both;
}

td.indexkey {
  background-color: #EBEFF6;
  font-weight: bold;
  border: 1px solid #C4CFE5;
  margin: 2px 0px 2px 0;
  padding: 2px 10px;
}

td.indexvalue {
  background-color: #EBEFF6;
  border: 1px solid #C4CFE5;
  padding: 2px 10px;
  margin: 2px 0px;
}

tr.memlist {
  background-color: #EEF1F7;
}

p.formulaDsp {
  text-align: center;
}

img.formulaDsp {

}

img.formulaInl {
  vertical-align: middle;
}

div.center {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

div.center img {
  border: 0px;
}

.footer {
  text-align: right;
  padding-right: 12px;
}

img.footer {
  border: 0px;
  vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
  color: #008000
}

span.keywordtype {
  color: #604020
}

span.keywordflow {
  color: #e08000
}

span.comment {
  color: #800000
}

span.preprocessor {
  color: #806020
}

span.stringliteral {
  color: #002080
}

span.charliteral {
  color: #008080
}

span.vhdldigit {
  color: #ff00ff
}

span.vhdlchar {
  color: #000000
}

span.vhdlkeyword {
  color: #700070
}

span.vhdllogic {
  color: #ff0000
}

/* @end */

/*
.search {
    color: #003399;
    font-weight: bold;
}

form.search {
    margin-bottom: 0px;
    margin-top: 0px;
}

input.search {
    font-size: 75%;
    color: #000080;
    font-weight: normal;
    background-color: #e8eef2;
}
*/

td.tiny {
  font-size: 75%;
}

.dirtab {
  padding: 4px;
  border-collapse: collapse;
  border: 1px solid #A3B4D7;
}

th.dirtab {
  background: #EBEFF6;
  font-weight: bold;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #4A6AAA;
}

hr.footer {
  height: 1px;
}

/* @group Member Descriptions */

table.memberdecls {
  border-spacing: 0px;
  padding: 0px;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  background-color: #F9FAFC;
  border: none;
  margin: 4px;
  padding: 1px 0 0 8px;
}

.mdescLeft, .mdescRight {
  padding: 0px 8px 4px 8px;
  color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
  border-top: 1px solid #C4CFE5;
}

.memItemLeft, .memTemplItemLeft {
  white-space: nowrap;
}

.memTemplParams {
  color: #4665A2;
  white-space: nowrap;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
  font-size: 80%;
  color: #4665A2;
  font-weight: normal;
  margin-left: 9px;
}

.memnav {
  background-color: #EBEFF6;
  border: 1px solid #A3B4D7;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}

.memitem {
  padding: 0;
  margin: 10px 0;
}

table.memname, .memname td {
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.memproto {
  padding: 6px 0px 0 0px;
  font-weight: bold;
}

.memdoc {
  margin: 2px 0 2px 15px;
  border-top-width: 0;
}

.paramkey {
  text-align: right;
}

.paramtype {
  white-space: nowrap;
}

.paramname {
  color: #602020;
  white-space: nowrap;
}
.paramname em {
  font-style: normal;
}

.params, .retval, .exception, .tparams {
  border-spacing: 6px 2px;
}

.params .paramname, .retval .paramname {
  font-weight: bold;
  vertical-align: top;
}

.params .paramtype {
  font-style: italic;
  vertical-align: top;
}

.params .paramdir {
  font-family: "courier new",courier,monospace;
  vertical-align: top;
}




/* @end */

/* @group Directory (tree) */

/* for the tree view */

.ftvtree {
  font-family: sans-serif;
  margin: 0px;
}

/* these are for tree view when used as main index */

.directory {
  font-size: 9pt;
  font-weight: bold;
  margin: 5px;
}

.directory h3 {
  margin: 0px;
  margin-top: 1em;
  font-size: 11pt;
}

/*
The following two styles can be used to replace the root node title
with an image of your choice.  Simply uncomment the next two styles,
specify the name of your image and be sure to set 'height' to the
proper pixel height of your image.
*/

/*
.directory h3.swap {
    height: 61px;
    background-repeat: no-repeat;
    background-image: url("yourimage.gif");
}
.directory h3.swap span {
    display: none;
}
*/

.directory > h3 {
  margin-top: 0;
}

.directory p {
  margin: 0px;
  white-space: nowrap;
}

.directory div {
  display: none;
  margin: 0px;
}

.directory img {
  vertical-align: -30%;
}

/* these are for tree view when not used as main index */

.directory-alt {
  font-size: 100%;
  font-weight: bold;
}

.directory-alt h3 {
  margin: 0px;
  margin-top: 1em;
  font-size: 11pt;
}

.directory-alt > h3 {
  margin-top: 0;
}

.directory-alt p {
  margin: 0px;
  white-space: nowrap;
}

.directory-alt div {
  display: none;
  margin: 0px;
}

.directory-alt img {
  vertical-align: -30%;
}

/* @end */

div.dynheader {
  margin-top: 8px;
}

table.doxtable {
  border-collapse:collapse;
}

table.doxtable td, table.doxtable th {
  border: 1px solid #2D4068;
  padding: 3px 7px 2px;
}

table.doxtable th {
  background-color: #374F7F;
  color: #FFFFFF;
  font-size: 110%;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align:left;
}

.tabsearch {
  top: 0px;
  left: 10px;
  height: 36px;
  background-image: url('tab_b.png');
  z-index: 101;
  overflow: hidden;
  font-size: 13px;
}

.navpath ul
{
  display: none;
  visibility: hidden;
}

.navpath li
{
  display: none;
  visibility: hidden;
}

.navpath li.navelem a
{
  display: none;
  visibility: hidden;
}


.navpath li.footer
{
  display: none;
  visibility: hidden;
}


div.summary
{
  font-size: 8pt;
  padding-right: 5px;
  width: 100%;
  text-align: right;
}

div.summary a
{
  white-space: nowrap;
  text-align: right;
}

div.ingroups
{
  font-size: 8pt;
  padding-left: 5px;
  width: 50%;
  text-align: left;
}

div.ingroups a
{
  white-space: nowrap;
}

div.header
{
  background-image:url('nav_h.png');
  background-repeat:repeat-x;
  background-color: #F9FAFC;
  margin:  0px;
  border-bottom: 1px solid #C4CFE5;
  clear: both;
}

div.headertitle
{
  padding: 5px 5px 5px 10px;
  clear: both;
}

div.headertitle .title {
  font-size: 14px;
  font-weight: bold;
}

dl
{
  margin: 5px 0;
}

dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug
{
  border-left:4px solid;
  padding: 0 0 0 6px;
}

dl.note
{
  border-color: #D0D000;
}

dl.warning, dl.attention
{
  border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant
{
  border-color: #00D000;
}

dl.deprecated
{
  border-color: #505050;
}

dl.todo
{
  border-color: #00C0E0;
}

dl.test
{
  border-color: #3030E0;
}

dl.bug
{
  border-color: #C08050;
}

#projectlogo
{
  text-align: center;
  vertical-align: bottom;
  float: left;
  width: 220px;
  height: 100px;
  background-color: white;
}

#projectlogo img
{
  border: 0px none;
}

#projectname
{
  font: 32px arial,sans-serif;
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
}

#projectbrief
{
  font: 120% verdana,arial,sans-serif;
  margin: 0px;
  padding: 0px;
  height: 50px;
  line-height: 50px;
}

#projectnumber
{
  font: 50% arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

#top {
  background-repeat: no-repeat;
  padding: 0;
  height: 100px;
  border-bottom: 1px solid #0678BE;
  vertical-align: top;
}

#titlearea
{
  padding: 0;
  margin: 0;
  float: left;
  border-bottom: 1px solid #81CEFF;
  height: 50px;
  width: 100%;
}

ul.tablist {
  background-image: url('tabbg.png');
  background-repeat: repeat-x;
  clear: both;
  display: block;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  float: left;
}

#navrow1 ul {
  background-position: 0 0px;
  height: 50px;
  clear: none;
  float: none;
  background-position: 0 0;
}

#navrow2 ul, #navrow3 ul, #navrow4 ul, #navrow5 ul, #navrow6 ul {
  background-position: 0 -200px;
  height: 20px;
  width: 100%;
  margin-top: 0px;
  padding-left: 220px;
}

ul.tablist li {
  float: left;
  display: block;
}

#navrow1 ul.tablist a {
  background-position: 0 0;
}

ul.tablist li a {
  background-image: url('tabbg.png');
  background-position: 0 -200px;
  background-repeat: repeat-x;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  display: block;
  padding: 0 20px;
  color: #FFFFFF;
}

ul.tablist li.current a {
  background-image: url('tabbg.png');
  background-position: 0 -240px;
}

ul.tablist li a:hover {
  background-image: url('tabbg.png');
  background-position: 0 -220px;
  text-decoration: none;
}

ul.tablist li.current a:hover {
  background-position: 0 -260px;
  text-decoration: none;
}

#navrow1 ul.tablist li a {
  background-image: url('tabbg.png');
  height: 50px;
  line-height: 50px;
  font-size: 120%;
}

#navrow1 ul.tablist li.current a {
  background-position: 0 -100px;
}

#navrow1 ul.tablist li a:hover {
  background-position: 0 -50px;
}

#navrow1 ul.tablist li.current a:hover {
  background-position: 0 -150px;
}

.footertext {
  float: right;
  padding: 0 20px 0 0;
  font-size: 12px;
  color: #00598E;
  line-height: 42px;
  height: 42px;
}

.footertext img {
  vertical-align: middle;
}


li.footer .footer-drupal {
  margin-left: 20px;
}
